{% extends "layout.html" %}
{% block title %}
About
{% endblock %}

{% block body %}
<div class="home_background">
    <div class="about">
        <h3>
            How does it work...
        </h3>
        <hr class="my-4">
        <p>Having many different plants can be really troublesome, especially when plant care is not your only duty.
            Keeping track of watering and fertilazation, when almost every plant has different demands can be sometimes
            disappointing. </p>
    </div>
</div>
<div>
        <img src="../static/pictures/about.png" alt="planner">
    </div>
{% endblock %}


