{% extends "layout.html" %}
    {% block title %}
    Home
    {% endblock %}

{% block body %}
<div class="home_background">
    <div class="jumbotron">
        <h1 class="display-5">Hello, plantlovers!</h1>
        <p class="lead">Are you tired of constantly forgetting to water your plants,
            or not knowing when the last time you fertilized was?
            Look no further! We are here to help you take the best care of your plants.
            With our app, you can set reminders for watering and fertilizing.
            You can also keep track of all your plants in one place, making it easy to see which ones need attention.
            Give your plants the love they deserve!</p>
        <hr class="my-4">
        <p>You can find here some info about our Plant care planner</p>
        <p class="lead">
            <a href="/about" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Learn
                more</a>
        </p>
    </div>
</div>

{% endblock %}

